body{
  font-family: Helvetica;
  text-align: center;
}
nav{
  background-image: url(/Users/sajover/Documents/Proyectos/Broadway/resources/images/the-flatiron-building.png);
background-repeat:round;
width: 100%;
height: 100%;
color: white;}

nav,p {
  font-size: 18px;
  }
h1 {
    font-size: 70px;
    font-weight: bold;
    }
.ourprocess h1{
font-size: 32px;
font-weight: bold;
}
.ourprocess h2 {
  font-size: 23 px;
  font-weight: bold;
}
.ourprocess h3 {
  font-size: 14px;
}
