body{
  background-image: url(/Users/sajover/Documents/Proyectos/Broadway/resources/images/the-flatiron-building.png);
background-repeat: no-repeat;
font-family: Helvetica;
text-align: center;

}
h1 {
  font-size: 70px;
  font-weight: bold;
  color: White;
  text-align: center;
}

p {text-align: center;
  font-family: 18px;
  color: white;
}
